.section {
  padding: 0;
  overflow: hidden;
}

.section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86637/wave.jpeg);
  background-color: #FF5AB0;
  background-blend-mode: overlay;
  
  .square {
    width: 200px;
    height: 200px;
    border: 15px solid white;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 15px solid white;
    position: absolute;
    top: auto;
    right: 100px;
    bottom: 100px;
    left: auto;
    z-index: 3;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    z-index: 2;
    position: relative;
    margin: 0;
  }
}

.second {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86637/buildings.jpeg);
  background-color: #3498DB;
  background-blend-mode: overlay;
  
  p {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: black;
    padding-left: 50%;
    padding-right: 15px;
    margin: 0;
    position: relative;
    z-index: 2;
  }
  
  .rectangle {
    width: 300px;
    height: 400px;
    border: 15px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -200px;
    z-index: 1;
  }
}

.third {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86637/frost.jpeg);
  background-color: #F78536;
  background-blend-mode: overlay;
  
  
  p {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: black;
    padding-left: 15px;
    padding-right: 50%;
    text-align: right;
    margin: 0;
    position: relative;
    z-index: 2;
  }
  
  .parallelogram {
    width: 400px;
    height: 250px;
    border: 15px solid white;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    margin-right: -300px;
    margin-top: -125px;
    z-index: 1;
  }
}